@charset "UTF-8";

body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1{
    color: darkgoldenrod;
    background-color: beige;
}

h2{
    color: red;
}

p{
    text-align: justify;
}