@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #57275C, #D05DDB);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3b273daf;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    text-align: center;
    color: #DCA2E1;
    text-shadow: 1px 1px 2px #55075ed0;
}

h2{
    color: #A047A8;
}

p{
    text-align: justify;
}